body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #2c3e50;
    height: 100vh;
    background: url('assets/logoPM.png') no-repeat center center fixed;
    background-size: 400px;
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.307);
    z-index: -1;
  }
  
  header {
    background-color: #003366;
    color: rgba(8, 8, 8, 0);
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #007BFF;
  }
  
  header h1 {
    margin: 0;
    font-size: 26px;
    color: #fafafa;
  }
  
  .container {
    max-width: 900px;
    margin: auto;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  form {
    background: rgba(255, 255, 255, 0.286);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(241, 240, 240, 0.003);
    margin-bottom: 30px;
  }
  
  form label {
    font-weight: 600;
    margin-top: 15px;
    display: block;
    font-size: 18px;
  }
  
  input, textarea {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fefefe;
  }
  
  input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  button {
    margin-top: 20px;
    padding: 14px 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #003366;
    font-weight: 600;
  }
  
  .rapport {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #007BFF;
    margin-bottom: 20px;
  }
  
  .rapport strong {
    font-size: 18px;
    color: #007BFF;
  }
  
  .rapport em {
    color: #777;
    font-size: 14px;
  }
  
  .rapport p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.4;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      padding: 20px 15px;
    }
  
    button {
      padding: 12px 18px;
    }
  }
  